.notification{
    position: absolute;
    display: inline-block;
    right:10px;
    top:8px;
    border-radius:15px;
    background-color: rgba(13, 233, 31, 0.753);
    color:white;
    width:15px;
    font-size:12px;
}